
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lora", sans-serif;
}

section{
  overflow-x: hidden!important;
}

nav{
 background-color: rgb(49, 53, 61);
 position: fixed!important;
 top: 0;
 z-index: 1000;
 width: 100%;
}

nav a{
  color: rgb(255, 255, 255) !important;
}

nav a:hover {
  color: rgb(252, 188, 178) !important;
}

.logo{
  font-size: 60px;
}

nav ul{
  margin-left: 18%;
}


.hero-div{
  background-color: rgb(40, 41, 46);
}

.hero{
  padding: 30px 25%;
}

.hero .text h1{
  letter-spacing: 10px;
  font-weight: 100;
  font-size: 64px;
}

.shop-now {
  background-color: rgb(252, 188, 178);
    color: black;
  cursor: pointer;
  border: 0;
  padding: 10px 40px;
}

.shop-now:hover {
  background-color: black;
  color: rgb(252, 188, 178);
  border: 2px solid;
  border-color: rgb(252, 188, 178);
}

i{
 cursor: pointer;
}

.feature-div{
  background-color: rgb(40, 41, 46);
}

.feature .card{
  cursor: pointer;
}

.feature .card:hover{
  scale: 1.06;
}

.best h1{
  letter-spacing: 10px;
  font-weight: 100;
  font-size: 30px;
  color: rgb(80, 83, 90);
}

.all button{
  color: white;
  background-color: rgb(49, 53, 61);
  cursor: pointer;
  border: 0;
  padding: 10px 40px;
}

.all button:hover{
  background-color: white;
  color: rgb(49, 53, 61);
  border: 2px solid;
  border-color: rgb(49, 53, 61);
}

.best .card:hover{
  scale: 0;
}

.add-cart button {
  color: white;
  background-color: rgb(49, 53, 61);
  cursor: pointer;
  border: 0;
  padding: 10px 40px;
}

.add-cart button:hover {
  background-color: white;
  color: rgb(49, 53, 61);
  border: 2px solid;
  border-color: rgb(49, 53, 61);
}

footer{
 background-color: rgb(49, 53, 61);
}

.contact input,
textarea {
  border: 0px !important;
  outline: 0px !important;
  background-color: transparent !important;
  border-bottom: 2px solid white !important;
  padding-bottom: 3px !important;
  margin-bottom: 10px !important;
}

.send button {
  color: rgb(49, 53, 61);
  background-color: white;
  cursor: pointer;
  border: 0;
  padding: 10px 40px;
}

.send button:hover {
  background-color: rgb(49, 53, 61);
  color: white;
  border: 2px solid;
  border-color: white;
}

.cart h4{
  font-weight: 200;
}

.add{
  height: 30px;
}

.check-btn button{
  color: white;
  background-color: rgb(49, 53, 61);
  cursor: pointer;
  border: 0;
  padding: 10px 40px;
  width: 100%;    
}

.check-btn button:hover {
  background-color: white;
  color: rgb(49, 53, 61);
  border: 2px solid;
  border-color: rgb(49, 53, 61);
}

.my-cart, .billing{
  width: 65%;
}

.summary, .payment{
  width: 30%;
}

.billing-div input{
  border: 0px !important;
  outline: 0px !important;
  background-color: transparent !important;
  border-bottom: 2px solid rgb(80, 83, 90) !important;
  padding-bottom: 3px !important;
  margin-bottom: 10px !important;
  width: 100%;
}

.checkbox{
  width: auto!important;
}

.payment button {
  color: white;
  background-color: rgb(49, 53, 61);
  cursor: pointer;
  border: 0;
  padding: 10px 40px;
}

.payment button:hover {
  background-color: white;
  color: rgb(49, 53, 61);
  border: 2px solid;
  border-color: rgb(49, 53, 61);
}


/* ////checkout */

/* .container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

h1,
h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="checkbox"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

input[type="checkbox"] {
  width: auto;
}

button {
  width: 100%;
  padding: 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#order-summary {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
} */


@media(max-width:768px){
  .hero .text h1 {
    font-size: 30px;
  }

  nav ul {
    margin-left: 0;
  }

  .cart{
    flex-direction: column;
  }

  .my-cart{
    width: 100%;
  }

  .summary{
    width: 100%;
  }

  .billing-div h4{
    font-size: 20px;
  }
}

@media(max-width:500px){
  .hero{
    flex-direction: column-reverse;
    padding-top: 0;
    row-gap: 20px;
  }

  .hero .text{
   width: 100%!important;
   text-align: center;
  }

  .hero .image{
   width: 100%!important;
  }

  .feature{
    flex-direction: column;
  }

  .best{
    text-align: center;
  }

  .categories{
    flex-direction: column;
    row-gap: 30px;
  }

  .categories .card{
    width: 100%!important;
  }

  .image-price-div{
    flex-direction: column;
  }

  .image-price{
    flex-direction: column;
  }

  .billing-div{
    flex-direction: column;
    justify-content: center;
  }

  .billing{
    width: 100%;
  }

  .payment{
    width: 100%;
  }
}

